<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> About MinJoon </title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>

</head>
<body>
{% include 'blog/navbar.html' %}
<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h1>안녕하세요. 이민준입니다.</h1>
                <br/>
                <p class="lead">
                    숭실대학교 정보통계보험수리학과를 나왔습니다.<br/>
                    현재는 Django를 공부중이며 동시에 Python, R을 이용한 통계분석을 공부하고 있습니다.<br/>
                </p>

                <ul>
                    <li>ABILITY</li>
                    <ul>
                        <li>파이썬 중</li>
                        <li>R활용도 상</li>
                        <li>JAVASCRIPT 중</li>
                        <li>ANDROID STUDIO 하</li>
                    </ul>
                </ul>


                <ul>
                    <li>EDUCATION</li>
                    <ul>
                        <li>안양부흥고등학교(2010~2013) </li>
                        <li>숭실대학교 정보통계보험수리학과 학사(2014~2021)</li>
                    </ul>
                </ul>




            </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="{% static 'single_pages/images/cup.jpg' %}">
            </div>
        </div>
    </div>
</section>




<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>PORTFOLIO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#machine">
                    <img class="card-img-top" src="{% static 'single_pages/images/' %}">
                    <div class="card-body">
                        <h5 class="card-title">파이썬으로 웹개발하기[]</h5>
                        <p>Django를 통한 파이썬 웹개발 연습을 하고 있습니다.   </p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#pycon">
                    <img class="card-img-top" src="{% static 'single_pages/images/' %}">
                    <div class="card-body">
                        <h5 class="card-title">통계공부 [PYCON2017]</h5>
                        <p>Django를 통한 파이썬 웹개발 연습을 하고 있습니다.   </p>
                    </div>
                </div>
            </div>





        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="machine2020" tabindex="-1" role="dialog" aria-labelledby="machine2020ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pycon2017ModalLabel">파이썬으로 통계업무 자동화하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/pycon_sy_2017.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>Python, Django, Pandas, python-docx로 통계업무 자동화한 내용을 파이콘에서 발표했습니다.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>






<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>